<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let user"> {{user.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef> Cargo</th>
    <td mat-cell *matCellDef="let user"> {{user.cargo}} </td>
  </ng-container>

  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef> Area </th>
    <td mat-cell *matCellDef="let user"> {{user.area}} </td>
  </ng-container>

  <ng-container matColumnDef="mundo">
    <th mat-header-cell *matHeaderCellDef> Mundo </th>
    <td mat-cell *matCellDef="let user"> {{user.mundo}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
